Source: lavapdu
Section: net
Priority: optional
Maintainer: Debian LAVA team <pkg-linaro-lava-devel@lists.alioth.debian.org>
Uploaders: Matthew Hart <matthew.hart@linaro.org>,
 Antonio Terceiro <terceiro@debian.org>,
 Neil Williams <codehelp@debian.org>,
 Fathi Boudra <fabo@debian.org>, Jordi Mallach <jordi@debian.org>
Build-Depends: debhelper (>= 8.0.0),
 python | python-all | python-dev | python-all-dev,
 python-setuptools, docbook-xsl, xsltproc
X-Python-Version: 2.7
Standards-Version: 3.9.5
Homepage: http://www.linaro.org/projects/test-validation/
Vcs-Git: https://github.com/Linaro/pkg-lavapdu.git
Vcs-Browser: https://github.com/Linaro/pkg-lavapdu

Package: lavapdu-daemon
Architecture: all
Depends: ${python:Depends}, ${misc:Depends},
 postgresql-client-common
Description: LAVA PDU control daemon
 LAVA supports a number of APC power distribution
 units which allow control over the power supply
 to individual devices. Operations are recorded in a
 postgres database for the runner daemon to process.
 .
 This package contains the daemons to control
 the PDU.

Package: lavapdu-client
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Description: LAVA PDU client
 This package provides a client which LAVA can use to
 ensure that devices get a hard reboot if a soft
 reboot fails. The client connects to the listen
 daemon on the host running lavapdu-daemon.
